@charset "UTF-8";
/*。。。。。。。。。新的顶部信息--查询。。。。。。。。。。。。。。*/
.S-search{
  border: 1px solid transparent;
  height: auto;
  min-height:40px;
  clear: both;
  width:99.8%;
  float: right;
}
.S-search ul li{
  border: 1px solid transparent;
  float: left;
  width: auto;
  margin:20px 20px 0 0;
}
.S-search select{
  color: #7b7b7b;
  width: 130px;
  height: 30px;
  border: 1px solid #c2c2c2;
}
.S-search label{
  margin-left: -5px;
  text-align: right;
  float: left;
  font-weight: bold;
  color: #7b7b7b;
  font-size: 12px;
  display: block;
  /*width:auto;*/
  height: 30px;
  line-height: 30px;
}
.S-search input[type=text]{
  /*float: left;*/
  width: 128px;
  height:28px;
  border: 1px solid #c2c2c2;
}
.S-search .SearchBtn:hover {
  background: #0A9CE1;
  color: white;
}
.S-search .SearchBtn {
  padding-bottom: 0;
  height:30px;
  width:70px;
  line-height:30px;
  float: left;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #c2c2c2;
  background: #f7f7f7;
  color: #676767;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}
/*旧的顶部查询*/
.T-search{
  clear: both;
  width: 98%;
}
.T-search ul li{
  margin: 5px 0;
  line-height: 40px;
  /*width:22px;*/
}
.T-search select{
  width: 130px;
  height: 30px;
  border: 1px solid #d5d5d5;
}
.T-search label{
  text-align: right;
  float: left;
  font-weight: bold;
  color: #7b7b7b;
  font-size: 12px;
  display: block;
  width:70px;
  height: 40px;
  line-height: 40px;
}
.T-search input[type=text]{
  /*float: left;*/
  width: 128px;
  height:28px;
  border: 1px solid #d5d5d5;
}
.T-search .SearchBtn:hover {
  background: #0A9CE1;
  color: white;
}
.T-search .SearchBtn {
  margin-top: 1px;
  padding-bottom: 0;
  height:30px;
  line-height:30px;
  float: left;
  /*margin-left: 15px;*/
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #c2c2c2;
  width:70px;
  background: #f7f7f7;
  color: #676767;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.hr{
  height: 1px;
  margin:20px 0;
  border:1px solid;
  border-color: #f2f2f2 transparent transparent transparent ;
}
.T-all {
  overflow: hidden;
  min-width: 1050px; }
  .T-all li {
    float: left;
    width: 225px; }
.T-margin {
  margin-right: 20px; }
.T-marginBT {
  margin-bottom: 20px; }
.T-margin2 {
  margin-right: 60px; }

.T-marginT {
  margin-top: 20px; }

.T-textarea {
  text-align: left; }

.T-MLeft {
  margin-left: 40px; }
.T-margiL20{
  margin-left: 20px;
}
.T-w60{
  width: 60px; }
.T-w70{
  width: 70px;  }
.T-W80{
  width: 80px;  }
.T-f1 {
  font-size: 12px; }

.T-f2 {
  font-size: 14px; }
.T-hovBlue{cursor: pointer;}
.T-Float {
  float: left; }

.T-CRed {
  color: #ff3e00; }

.T-CHei {
  color: #3F3F3F; }

.T-CBlue {
  color: #0a9de6; }

.T-CBBlue {
  background: #0a9de6; }

.T-borderhui {
  border: 1px solid #a5a5a5; }

.T-CBCheng {
  background: #02c057; }
.T-Clv{
  color: #02c057;
}
.T-CBChengSe {
  background: #ff9a21; }
.T-CCS{
  color: #fB5218;  }
.T-CBHui {
  background: #a6a6a6; }

.T-CBlv {
  background: #02c057; }

.T-btnTwoFont {
  width: 62px; }
.T-btnTwoFont-1{
  width: 62px;
  cursor: pointer;
  color: #ffffff;
  margin-left: 5px;
  font-family: "微软雅黑";
  font-size: 12px;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.T-btnForFont {
  width: 62px; }
.T-DDXQ {
  cursor: pointer;
  font-family: '微软雅黑';
  background: #0190d4;
  width:90px;
  height: 30px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  font-size:12px;
  color: #f5f5f5; }
.lanf{
  color:#0191d3;
  font-size:20px;
  font-weight: bold;
}
.T-none {
  display: none; }
.T-fltL{
  float: left;
  overflow: hidden;
  /*border: 1px solid red;*/
}
.T-fanBtn{
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-family: '微软雅黑';
  float: left;
  display: block;
  width: 100px;
  height: 33px;
  line-height: 35px;
  background: #f2f2f2;
  border: 1px solid #d5d5d5;
  color: #3f3f3f;
}
.T-xzBtn {
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-family: '微软雅黑';
  float: left;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  background: #02c057;
  color: #f6ffe8;
  margin-right: 10px}

.T-CKBtn {
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-family: '微软雅黑';
  float: left;
  display: block;
  width: 140px;
  height: 35px;
  line-height: 35px;
  background: #0191d3;
  color: #f6ffe8; }

.T-LookBillPictureBtn {
  width: 161px;
  height: 30px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #2998cb;
  color: #f6ffe8; }

.T-cDanWei {
  visibility: hidden; }

.T-DanWeiDaX {
  font-size: 14px; }

.T-tableW {
  margin-top: 20px;
  margin-left: 0;
  color: #7b7b7b;
  width: 90%;
  padding: 0; }
  .T-tableW td {
    width: 25%;
    text-align: right;
    min-width: 275px;
    height: 50px; }
  .T-tableW .T-BGJju {
    height: 170px; }


.T-contBt {
  font-size: 16px;
  font-family: '微软雅黑';
  line-height: 40px; }

.T-ul {
  width: 100%;
  margin-left: -35px;
  padding: 0; }
  .T-ul li {
    float: left;
    list-style: none;
    margin-left: 40px; }

select {
  width: 130px;
  height: 30px;
  border: 1px solid #d9d9d9; }

 input[type=text] {
  text-align: left;
  width: 126px;
  height: 28px;
}
 input[type=radio] {
  width: 15px;
  height: 15px;
  color: #50acd6; }

.T-INoBorder {
  min-width: 126px;
  border: 2px solid #f5f5f5;
  background: #f5f5f5 }
/***************************************内部无色表单*/
.S-wstable{
  overflow: hidden;
  width: 100%;
}
.S-wstable th{
  border: 1px solid #e6e6e6;
  color:black;
  text-align: center;
  height:50px;
  font-size: 15px;
  font-family: '微软雅黑';
  background: #fff;
}
.S-wstable td{
  border: 1px solid #e6e6e6;
  overflow: hidden;
  line-height:50px;
  text-align: center;
}
.S-wstable td a {
  cursor: pointer;
  color: #ffffff;
  margin-left: 5px;
  float: right;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.dateImg {
  background-image: url("../images/dateImg.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  -ms-background-size: 20px 20px;
  background-size: 20px 20px;
  -webkit-background-clip: border-box;
  /*-moz-background-clip: border-box;*/
  -o-background-clip: border-box;
  -ms-background-clip: border-box;
  background-clip: border-box; }
.bgsearchImg {
  background-image: url("../images/searchhhhh.png");
  background-repeat: no-repeat;
  background-position:100% center;
  -webkit-background-clip: border-box;
  /*-moz-background-clip: border-box;*/
  -o-background-clip: border-box;
  -ms-background-clip: border-box;
  background-clip: border-box; }
/***************************************内部无色表单*/
.S-wstable{
  overflow: hidden;
  width: 100%;
}
.S-wstable th{
  border: 1px solid #e6e6e6;
  color:black;
  text-align: center;
  height:50px;
  font-size: 15px;
  font-family: '微软雅黑';
  background: #fff;
}
.S-wstable td{
  border: 1px solid #e6e6e6;
  overflow: hidden;
  line-height:50px;
  text-align: center;
}
.S-wstable td a {
  cursor: pointer;
  color: #ffffff;
  margin-left: 5px;
  float: right;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }


/***************************************内部无色表单*/
.S-wstable{
  overflow: hidden;
  width: 100%;
}
.S-wstable th{
  border: 1px solid #e6e6e6;
  color:black;
  text-align: center;
  height:50px;
  font-size: 15px;
  font-family: '微软雅黑';
  background: #fff;
}
.S-wstable td{
  border: 1px solid #e6e6e6;
  overflow: hidden;
  line-height:50px;
  text-align: center;
}
.S-wstable td a {
  cursor: pointer;
  color: #ffffff;
  margin-left: 5px;
  float: right;
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
/********************************/
.T-table {
  clear: both;
  overflow: hidden;
  width: 100%; }
  .T-table .T-TH {
    width: 16.6%; }
  .T-table th {
    border: 1px solid #EDF6FF;
    color: #f3fff4;
    text-align: center;
    height: 40px;
    font-size: 15px;
    font-family: '微软雅黑';
    background: #50acd6;
    border-left-color: #f4f9f7;
    border-right-color: #f4f9f7;
    border-top: none;
    border-bottom: none; }
  .T-table tr:hover {
    background: #cff0ff; }
  .T-table td {
    border: 1px solid #EDF6FF;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    line-height: 45px;
    text-align: center; }
    .T-table td a {
      cursor: pointer;
      color: #ffffff;
      margin-left: 5px;
      float: right;
      display: block;
      height: 20px;
      line-height: 20px;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .T-table td span {
      cursor: pointer;
      color: #ffffff;
      display: block;
      height: 20px;
      line-height: 20px;
      text-align: center;
      margin-left: 30%;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .T-table td .T-tdWidth120px {
      width: 120px; }
  .T-table .T-one {
    background: #f8f8f8; }
  .T-table .T-two {
    background: #eaf2f7; }

.T-footerBtn {
  text-align: center;
  height: 150px;
  line-height: 150px; }

.T-baoCBtn, .T-tiJiaoBtn, .T-QueRBtn, .T-QuXBtn {
  margin: 0 10px 0 10px;
  font-family: '微软雅黑';
  height: 35px;
  font-size:14px;
  line-height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.T-baoCBtn {
  cursor: pointer;
  width: 105px;
  color: #ffffff;
  background: #099de0;
  border: none; }

.T-tiJiaoBtn {
  cursor: pointer;
  width: 105px;
  border: 1px solid #c4c4c4;
  background: #f7f7f7; }

.T-QueRBtn {
  cursor: pointer;
  width: 85px;
  color: #ffffff;
  background: #099de0;
  border: none; }

.T-QuXBtn {
  cursor: pointer;
  width: 85px;
  border: 1px solid #c4c4c4;
  background: #f7f7f7; }

.T-all .T-fanhui {
  width: 100%;
  height: 50px;
  background: #0191d3; }
  .T-all .T-fanhui .T-biaoti {
    width: 140px;
    font-size: 18px;
    font-family: '微软雅黑';
    color: #f3fff4;
    line-height: 50px;
    margin-left: 20px; }
.T-all .T-fanhui .T-biaoti2 {
  float: left;
  width: 600px;
  font-size: 18px;
  font-family: '微软雅黑';
  color: #f3fff4;
  line-height: 50px;
  margin-left: 20px; }
  .T-all .T-fanhui .T-FTitleBtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: -50px;
    float: right; }
  .T-fdianjichu{
    float: right;

  }
    .T-all .T-fanhui .T-FTitleBtn .T-fanhuiImg {
      margin-top: 13px; }
    .T-fanhuiImg2,.T-fanfont2{
      float: left;
      line-height: 50px;
    }
    .T-fanfont2{
      font-size: 16px;
      font-family: '微软雅黑';
      color: #f3fff4;
      padding-right: 20px;
    }
    .T-fanhuiImg2{
      margin: 12px 0 0 -20px;
      padding-right: 10px;
    }
    .T-all .T-fanhui .T-FTitleBtn .T-fanhuiFont {
      float: right;
      display: block;
      line-height: 20px;
      font-size: 15px;
      font-family: '微软雅黑';
      color: #f3fff4;
      margin: 15px 0 0 10px; }

.T-Title {
  color: #7e7e7e;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  height: 48px;
  line-height: 48px;
  border: 1px solid #ededed;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 20px; }

.T-TitleImg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  display: inline-block; }

.T-TitleColor {
  color: #0CA1E1 !important; }

.T-content {
  margin: -15px 0 0 0;
  padding: 0;
  width: 100%;
  min-width: 90%;
  height: auto; }
  .T-content .t-cont-head {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden; }
  .T-content .T-ssLan {
    padding-bottom: 5px;
    float: right;
    width: 330px;
    height: 35px;
    overflow: hidden; }
  .T-content .t-cont-img {
    cursor: pointer;
    margin-left: -1px;
    width: 35px;
    height: 35px;
    float: left; }
    .T-content .t-cont-img img {
      margin-left: -1px;
      display: block;
      width: 35px;
      height: 35px; }
  .T-content .T-cxText {
    float: left;
    font-size: 14px;
    width: 273px;
    height: 33px; }

.T-dingdantop {
  overflow: hidden;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  font-weight: bold;
  color: #7b7b7b; }
  .T-dingdantop .T-xzcarBtn {
    cursor: pointer;
    font-family: '微软雅黑';
    background: #0190d4;
    width: 90px;
    height: 32px;
    border: none;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #f5f5f5; }
  .T-dingdantop .T-cx001 {
    float: left; }
    .T-dingdantop .T-cx001 .T-TextShuRu {
      font-size: 14px;
      width: 273px !important;
      height: 28px !important; }
  .T-dingdantop .T-cxImg002 {
    margin-top: 18px;
    height: 32px; }

.T-AddJiBenCanShu {
  padding-bottom: 10px;
  width: 100%;
  overflow: hidden; }
  .T-AddJiBenCanShu .T-AddJiBenCanShu-head {
    padding-left: 20px;
    height: 40px;
    background: #f0f0f0; }

.T-Btnright {
  text-align: right; }

.T-TCCont {
  text-align: center; }
  .T-TCCont .T-span {
    margin: 20px 0 20px 0;
    display: block;
    font-size: 15px;
    font-family: '微软雅黑';
    font-weight: bold;
    line-height: 50px; }

.T-tableTop {
  width: 100%; }
  .T-tableTop td {
    padding: 20px 0;
    width: 20%;
    text-align: center; }

.T-JuZhong {
  text-align: center; }

.T-detailsCont {
  width: 90%; }
  .T-detailsCont .T-detailsCont-head {
    height: 230px;
    width: 100%; }
    .T-detailsCont .T-detailsCont-head .T-Left {
      margin: 20px 0 0 20px;
      overflow: hidden;
      text-align: center;
      float: left;
      width: 250px;
      height: 200px; }
      .T-detailsCont .T-detailsCont-head .T-Left .T-picture {
        width: 250px;
        height: 150px;
        border: 1px solid #e9e7e3; }
      .T-detailsCont .T-detailsCont-head .T-Left .T-PFont {
        margin: 20px 0 0 0;
        cursor: pointer;
        font-size: 14px; }
    .T-detailsCont .T-detailsCont-head .T-Right {
      margin: 20px;
      width: 60%;
      float: left; }
      .T-detailsCont .T-detailsCont-head .T-Right table {
        width: 100%; }
      .T-detailsCont .T-detailsCont-head .T-Right td {
        height: 30px;
        width: 30%;
        font-size: 14px; }
  .T-detailsCont .T-detailsCont-footer {
    width: 100%;
    height: 260px; }
    .T-detailsCont .T-detailsCont-footer .T-footer-DH {
      height: 40px; }
.T-footer-DH{
  height: 40px;
}
.T-footer-DH li{
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom: none;
  border-left: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 120px;
  padding: 0;
  margin: 0;
  line-height: 40px !important;
}

      .T-detailsCont .T-detailsCont-footer .T-footer-DH li {
        border: 1px solid #e8e8e8;
        border-top: none;
        border-bottom: none;
        border-left: none;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        width: 120px !important;
        padding: 0;
        margin: 0;
        line-height: 40px !important; }
  .T-detailsCont .T-tableCS {
    color: #7b7b7b;
    width: 90%;
    padding: 0; }
    .T-detailsCont .T-tableCS td {
      font-size: 13px;
      width: 25%;
      height: 30px; }
      .T-detailsCont .T-tableCS td input[type=radio] {
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0; }

.T-ImgWH {
  width: 190px;
  height: 185px; }

.T-DivJJ {
  overflow: hidden;
  width: 190px;
  height: 230px;
  margin: 20px 0  0 80px;
  text-align: center; }
  .T-DivJJ p {
    font-size: 16px;
    margin: 5px 0 0 0; }

.T-width {
  width: 100%; }

.T-width2 {
  width: 98%;
  margin-left: 5px;
}

.T-CZAndYeWu {
  height: auto;
  margin-top: 30px; }
  .T-CZAndYeWu ul li {
    color: #4a4a4a;
    border: 1px solid #d5d5d5;
    height: 50px;
    width: 48.9%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-family: '微软雅黑'; }
  .T-CZAndYeWu .T-LiBg {
    color: #ffffff;
    background: #0abade; }
  .T-CZAndYeWu .T-tableJL {
    margin-left: 2px;
    width: 98%; }
    .T-CZAndYeWu .T-tableJL .T-yj {
      width: 48%; }
    .T-CZAndYeWu .T-tableJL .T-xm {
      width: 16%; }
    .T-CZAndYeWu .T-tableJL th {
      color: black;
      height: 50px;
      width: 49%;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid #d5d5d5; }
    .T-CZAndYeWu .T-tableJL td {
      line-height: 50px;
      border: 1px solid #d5d5d5; }
    .T-CZAndYeWu .T-tableJL .T-td {
      text-align: center;
      line-height: 50px;
      border: 1px solid #d5d5d5; }
  .T-CZAndYeWu .T-LiuC {
    display: none;
    border: 1px solid #d5d5d5;
    width: 98%;
    overflow: hidden; }
    .T-CZAndYeWu .T-LiuC img {
      width: 100%; }

.T-shouzhi {
  cursor: pointer; }

.T-table-BJ {
  width: 100%; }
  .T-table-BJ td {
    line-height: 30px; }
.T-hide {
  display: none; }

.T-tableTopB {
  border: 1px solid #E8E8E8;
  border-left: none;
  border-bottom: none;
  border-right: none; }

.T-SCZPian {
  float: right;
  width: 90px;
  height: 90px;
  border: 1px solid #DCDCDC; }

.T-SCZPian2 {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #DCDCDC;
  overflow: hidden; }
.T-SCZPian3 {
  float: left;
  width: 500px;
  height: 200px;
  border: 1px solid #DCDCDC;
  overflow: hidden; }
  .T-SCZPian2 img {
    width: 80px;
    height: 80px; }

.T-S-spa {
  display: block;
  float: left; }

.T-sczwzi {
  display: block;
  float: right; }

.T-AddAndDelete {
  width: 100%;
  height: 60px;
  line-height: 60px; }
  .T-AddAndDelete .T-AddAndDelete-Add, .T-AddAndDelete .T-AddAndDelete-Delete {
    margin-right: 20px;
    height: 40px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .T-AddAndDelete .T-AddAndDelete-Add {
    cursor: pointer;
    width: 90px;
    background: #02c356; }
  .T-AddAndDelete .T-AddAndDelete-Delete {
    cursor: pointer;
    width: 90px;
    background: #8b8b8b; }

.T-AddBill {
  background: #FFFFFF;
  position: absolute;
  top: -70px;
  left: -260px;
  width: 600px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .T-AddBill .T-AddBill-head {
    height: 50px;
    text-align: center;
    overflow: hidden;
    background: #0d92d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: none; }
    .T-AddBill .T-AddBill-head span {
      font-size: 18px;
      line-height: 50px;
      font-family: '微软雅黑';
      color: #ffffff; }
    .T-AddBill .T-AddBill-head img {
      float: right;
      margin: 10px 20px 0 0; }
  .T-AddBill .T-PiaoYang {
    width: 680px;
    height: 250px;
    text-align: center; }
    .T-AddBill .T-PiaoYang img {
      width: 660px;
      height: 210px;
      margin-top: 20px;
      margin-left: 10px; }
  .T-AddBill .T-FaPiaoTU {
    position: absolute;
    left: 360px;
    top: 140px; }

.T-bianJiShousuo {
  float: left;
  width: 380px;
  overflow: hidden;
  margin-top: 20px; }
  .T-bianJiShousuo input {
    width: 240px;
    height: 31px; }
  .T-bianJiShousuo img {
    float: left;
    display: block;
    margin-left: -1px;
    height: 35px;
    width: 35px; }
  .T-bianJiShousuo .T-shoushuru {
    float: left;
    margin-left: 3%; }

.T-anniu {
  text-align: left;
  float: left;
  width: 120px;
  overflow: hidden;
  margin-top: 20px; }
.T-tableTwoL{
  margin-top: 10px;
  margin-left: -10%;
  width: 100%;
}
.T-tableTwoL td{
  width:420px;
  height: 50px;
  text-align: right;
}
.T-tableTwoL td input{
  width: 298px;
  height: 28px;
  border: 1px solid #f5f5f5;
}
.T-tableTwoL td select{
  width: 300px;
  height: 30px;
}
.lookcarBtn{
  cursor:pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;;
  border: none;
  text-align: center;
  line-height:28px;
  width:90px;
  height:28px;
  background: #0190d4;
  color: #fff;
  font-size:12px;
}
.T-TanCLiBtn{
  cursor:pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;;
  border: none;
  text-align: center;
  width:90px;
  height: 30px;
  background: #0190d4;
  color: #fff;
  font-size: 12px;  }
.T-D1Pai1,.T-D1Pai2{
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 30px;  }
.T-D2Pai{
  float: left;
  margin-top: 30px;
  margin-left: -320px;
  width: 50%;
}
.T-D2Pai2{
  float: left;
  margin-top: 30px;
  /*margin-left: -320px;*/
  width: 100%;
}
.T-w100{
  width: 100px !important;
}
.T-MCW50{
  width: 96px !important;
  text-align: right;
}
.T-tableUP{
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
  clear: both;
}
.T-tableUP td{
  width: 350px !important;
  height: 50px;
}
.T-TDBGp{
  height: 28px !important;
  background: url("../images/T-fangda.png") no-repeat;
  background-position: 101.2% center;

}
.T-bodertext{
  height: 28px !important;
  width: 128px !important;
  border: 1px solid #dcdcdc;
}
.T-H2{
  font-size: 18px;
  /*font-weight: bold;*/
  font-family: "微软雅黑";
}
.tishi{
  line-height: 40px;
}
.tishi label{
  line-height: 40px ;
}
.T-w230TD{
  width: 230px !important;
}
.T-textrightTD{
  text-align: right !important;
}
.T-liebiaoDiv{
  margin:20px 60px 0 0;
  float: left;
  overflow: hidden;
  height: 30px;  }
.T-liebiaoDiv2{
  margin:20px 0 0 0;
  float: left;
  overflow: hidden;
  width: 100%;  }
.T-liebiaoDiv2 .T-shuchu{
  overflow: hidden;
  height: 120px;
  width: 70%;
}
.T-liebiaoDiv2 textarea{
  width: 99.5%;
  height: 97.5%;
}
.T-liebiaoDiv label ,.T-liebiaoDiv2 label {
  padding: 0;
  text-align: right;
  font-size: 14px;
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-family: "宋体";
  color: #7b7b7b;
  float: left}
.T-liebiaoDiv input,.T-liebiaoDiv select{
  float: left;
}
.T-W150{
  width: 150px;
}
.T-H150{
  height: 150px;
}
.T-liebiaoDiv span{
  color: #7b7b7b;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 15px;
  text-align: right;
}
.T-Hi26{
  height: 26px !important;
}

.T-zpkuang{
  overflow: hidden;
  float: left;
  width: 203px;height: 180px;
}
.T-zpkuang p{
  width: 160px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.T-liuP{
  width: 128px;
  text-align: center;
  font-size: 14px;
  font-weight: bold
}
.T-liuD{
  width: 25%;height: 40px;float: left
}
/***********************************************************电商售后中心部分*********************************************/
.T-HQHead{
  height: 360px;
  width: 99%;
}
.T-HQHead table{
  width: 98%;
  height: 350px;
  border: 1px solid #e6e6e6;
}
.T-HQHead table th{
  overflow: hidden;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  height: 50px;
}
.T-HQHead table th img{
  margin: 12px 0 0 20px;
  float: left;
}
.T-HQHead table th h2{
  display: block;
  float: left;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  font-family: "微软雅黑";}
.T-HQHead table th .h2-1{
  margin-left: 20px;  }
.T-HQHead table th .h2-2{
  margin-left: 5px;
}
.T-HQHead table td{
  border: 1px solid #e6e6e6;
  height: 100px;
}
.T-HQHead table td img{
  width: 60px;height: 60px;float: left;
  margin-left: 20px;
}
.T-HQHead table td .label-1{
  display: block;
  float: left;
  margin:20px 0 0 10px;
  color: #676767;
}
.T-HQHead table td p{
  margin: 5px 0 5px 20px;
}
.T-HQHead table td p span{
  color: #868686;
}
.table-right{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.table-right-1{
  width: 30%;
  height: 100%;
  float: left;
}
.table-right-1 h3{
  cursor: pointer;
  margin: 30px 0 0 40px;
  font-size: 12px;
  font-weight: bold;
}
.table-right-1 h4{
  margin: 5px 0 0 40px;
  font-size: 12px;
}
.table-right-1 h4 span{
  font-size: 14px;
  font-weight: bold;
  color: red;  }
.table-right-2{
  width: 69.5%;
  height: 100%;
  float: left;  }
.table-right-2-1{float: left;margin: 50px 0 0 0;
  width: 200px;}
.table-right-2-1 p{
  height: 30px;
  font-size: 22px;
  font-weight: bold;  }
.table-right-2-1 p span{color: #ff9800 !important;}
.table-right-2-2{
  width: 60%;
  float: left;
  overflow: hidden;
  margin-top: 10px;
}
.right-2-2-bt{
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 5px 40px;
}
.table-right-2-2-cont{overflow: hidden;width: 80%;height: 35px}
.table-right-2-2-cont label{display: block;float: right;color: red;font-size: 15px;font-weight: bold;margin-left: 10px}
.tiaozhuang-1,.tiaozhuang-2,.tiaozhuang-3,.tiaozhuang-4,.tiaozhuang-5{
  height: 20px;
  float: left;
  width: 50%;
  background: #ff9800;
}
.tiaozhuang-1{width: 90%;}
.tiaozhuang-3{width: 70%}
.tiaozhuang-2,.tiaozhuang-4{width: 20%}
.tiaozhuang-5{width: 10%}
.T-XXdiv{
  height: 30px;
}
.T-XX{
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #ff9800 ;
  cursor: pointer;
}
.T-HQHead-1{
  width: 100%;
  /*height: 545px;*/
  padding: 0;
  margin: 0;
}
.T-HQHead-1-LC{
  overflow: hidden;
  width: 98%;
  height: 60px;
  padding: 0;
  margin: 0;
}
.T-HQHead-1-LC div{float: left;}
.T-liuc-daohang1,.T-liuc-daohang2,.T-liuc-daohang3,.T-liuc-daohang4{
  height: 60px;
  font-size: 18px;
  font-family: "微软雅黑";
  color: #fff;
  text-align: center;
  line-height: 60px;
  background: #0191d3;
}
.T-liuc-daohang1,.T-liuc-daohang2,.T-liuc-daohang3{
  width: 23.5%;
}
.T-liuc-daohang4{
  width: 27.5%;
}
.T-liuc-daohang2,.T-liuc-daohang3,.T-liuc-daohang4{
  margin-left: -30px;
}
.T-liuc-daohang1 span,.T-liuc-daohang2 span,.T-liuc-daohang3 span,.T-liuc-daohang4 span{
  font-size: 25px;
}
.head-sanjiao{
  width:0;
  height: 0;
  border-width:30px 0 30px 30px;
  border-style: solid;
  border-color:transparent transparent transparent #0191d3;
  position:relative;
  z-index: 1;
}
.head-sanjiao-bian{
  width: 0;
  height:0 ;
  border-width:35px 0 35px 35px;
  border-style: solid;
  border-color:transparent transparent transparent #37a5dd;
  position:relative;
  margin-left: -29px;
  margin-top: -5px;
  z-index: 0;
}
 .T-liutable{
  margin: 20px 0 0 0;
  padding: 0;
  width: 97.3%;
  height: 520px;
  border: 1px solid #e6e6e6
}
.T-liutable .h2-1{
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}
.T-liutable td{
  border: 1px solid #e6e6e6;
}
.T-liutable .T-liutable-1{height: 50px;background: #fafafa;width: 280px;text-align: center}
.T-liutable .T-liutable-2{
  height: 70px;
}
.T-liutable .T-liutable-3{
  height: 80px;
}
.T-liutable .T-liutable-4{
  height: 100px;
}
.T-liutable .T-liutable-5{
  height: 120px;
}
.T-right-cont-zong{
  margin: 0 0 0 12%;
  width: 80%;
  padding-top: 60px;
}
.T-right-cont{
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.T-right-cont img,.T-right-cont .T-right-time{
  float: left;
}
.T-right-cont .T-right-time{margin-left: 30px;}
.T-right-cont .T-right-time label{
  font-size: 20px;
  font-weight: 300;
}
.T-right-cont .T-right-time span{
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.T-right-cont-zong ul{
  width: 100%;
}
.T-right-cont-zong ul li{
  float: none;
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
}
.T-right-cont-zong .T-right-cont-zong-btn{
  overflow:hidden;
  margin:40px 0 20px 0;
}
.T-else{overflow: hidden}
.T-else label,.T-else a{
   display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
}
.T-else a{
  border: 1px dashed #d5d5d5;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.T-abtn1{
  width: 125px;
  margin-right: 35px;
}
.T-abtn2{
  width: 180px;
}
.T-cont-shzt{
  margin: 20px 0 20px 0;
  background: #fafafa;
  height: 45px;
  width: 96%;
  line-height: 45px;
  padding-left: 20px;
}
.footer-cont{
  width: 96%;
}
.footer-cont-1{
  overflow: hidden;
  margin-left: 20px;
  width: 100%;
}
.footer-cont-1-u{width: 150px;}
.footer-cont-1-u img{
  width: 90px;
  height: 90px;
}
.footer-cont-1-u p{
  font-size: 14px;
  width: 90px;
  text-align: center;
}
.footer-cont-1-C{
  width: 850px;
}
.footer-cont-1-u,.footer-cont-1-C{
  float: left;
}
.footer-cont-1-C-head{
  height: 21px;
  overflow: hidden;
}
.footer-cont-1-C-head img,.footer-cont-1-C-head label,.footer-cont-1-C-head a{
  float: left;
}
.footer-cont-1-C-head label{
  line-height: 25px;
  margin-left: 10px;
  display: block;
  font-size: 14px;
  color: #fa693d;
  font-weight: bold;
}
.footer-cont-1-C-head a{
  display: block;
  line-height: 30px;
  margin-left: 30px;
}
.footer-cont-1-C-cont{
  margin-left: 30px;
  overflow: hidden;
}
.footer-cont-1-C-cont .footer-cont-1-C-cont-a{
  margin-top: 10px;
  overflow: hidden;
}
.footer-cont-1-C-cont .footer-cont-1-C-cont-a a{
  font-size: 12px;
  font-weight: bold;
}
.T-pzpicture-a{
  float: left;
  display: block;
}
.T-pzpicture{
  border: 1px solid #f5f5f5;
  float: left;
  width: 90px;
  height: 90px;
  margin: 0 10px 0 10px;
}
.T-pzpicture img{
  width: 90px;
  height: 90px;
}
.T-Dp{
  display: block;
}
.T-right-cont-tishi{
  background: #fffaf4;
  border: 1px solid #ffdfd0;
  height: 40px;
  width: 98%;
  margin: 10px 0 20px 10px;
  text-align: center;
  line-height: 40px;
}
.T-right-cont-tishi label{
  padding: 0;
  display: block;margin-left: 10px;
  font-size: 13px;
  color: red;
}
.T-right-cont-tishi img,.T-right-cont-tishi label{
  float: left;
  line-height: 40px;
}
.T-right-cont-tishi img{
  margin: 10px 0 0 20px;
}
.T-liutable-1-tianxiedizhi{
  padding-left: 5%;
}
.T-shouhuodizhi input{
  border: 1px solid #d5d5d5;
}
.T-tuihuoshuoming{
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.T-xian200zi{
  position: absolute;
  left: 90%;
  top: 130px;
}
.T-tuihuoshuoming label,.T-tuihuoshuoming textarea{
  float: left;
}
.T-tuihuoshuoming textarea{
  margin-left: 6px;
}
.T-liutable-1-tianxiedizhi-btn{
  margin: 40px 0 0 6% ;
}
.T-TCCont-D{
  overflow: hidden;
  height: 40px;
  margin: 30px 0 0 0;
}
.T-TCCont-D label{
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: red;
  line-height: 30px;
}
.T-TCCont-D img{
  float: left;
  margin-left: 150px;
}
.t-HQyanzheng{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  width: 80px;
  background: #0a99de;
  color: #fff;
  margin-left: 20px;
}
.T-daigouyemian-cont{
  margin: 160px 0 20px 35%;
  overflow: hidden;
}
.T-daigouyemian-cont-bt{overflow: hidden;padding-bottom: 20px}
.T-daigouyemian-cont-bt label{
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #07db1f;
  line-height: 45px;
  margin-left: 15px;
  font-family: '微软雅黑';
}
.T-daigouyemian-cont-bt img,.T-daigouyemian-cont label{
  float: left;
}
.T-daigouyemian-cont-bt p {
  font-size: 14px;
  margin-left: 60px
}
.T-daigouyemian-cont-bt p span{
  color: red;
  font-weight: bold;
}
.T-redBold{
  color: red;
  font-weight: bold;
}



/*。。。。。。。。。。。。。。。。。。查看大图轮播框。。。。。。。。。。。。。。。。。。。。。。。。。。*/

:root {
    background-color: transparent;
    overflow-x: auto;
    font-size: 12px;
    line-height: 2;
    font-size: 12px;
}

:root {
    min-width: 1000px;
    max-width: auto;
    height: 100%;
    min-height: 100%;
}


.popupBtn .undo,.borderBlod{border-color:  #dadde5;}
.popupContBox .selectBoxes{min-width: 130px;}
.popupContBox .selectBoxes  .DataText{margin: 0;}
.popupContBox .selectBoxes .icon-search{width: 21%;}
.border .sellerListBoxTitle{ border-right: 1px solid #e8e8e8;}
.popupText {
    text-align: left; }
.popupText dt.DataText {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 19px; }
.popupText dt.DataText img {
    vertical-align: middle;
    margin-right: 10px;
    height: 60px;
    width: 67px; }
.popupText .morny, .popupText .BoxPopup .DataTextColor, .BoxPopup .popupText .DataTextColor {
    font-size: 13px; }
.popupText .width100 {
    margin-bottom: 5px; }
.popupText textarea {
    width: 100%;
    border: 1px solid #dadde5;
    border: 1px solid #dadde5;
    min-height: 100px; }
.marginBottom .popupTextTitle {
    background-color: #ffffff;
    border: 1px solid #DADDE5;
    width: 100%;
}
table.dataToBox{min-width:965px;width: 100%;}
table.dataToBox .DataText {margin-bottom: 20px !important;}
table.dataToBox textarea {width: 85%;}
.unitBox{
   display: none;
}
/*弹出�*/
.popupBox {
    position: stage;
    top: 0;
    overflow: hidden;
    z-index: 2; }
/*弹出�?-box*/
.popupContBox {
    width: 600px;
    position: absolute;
    left: 50%;
    top:50%;
    background-color: #FFF;
    font-family: '微软雅黑';
    font-size: 14px;
    text-align: center;
    display: none;
    z-index: 2; }
/*弹出�?--title*/
.popupTitle {
    height: 50px;
    line-height: 50px;
    background-color: #0d91d0;
    color: #fff;
    font-size: 17px;
    position: relative; }
.popupTitle span {
    margin-left: 20px; }
.carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.carousel li {
    float: left;padding: 0 5px;
}
.connected-carousels .carousel-navigation {
    height: 92px;
    width: 98%;
    background: #fff;
    border: 5px solid #fff;


}
.connected-carousels .carousel-navigation li {
    cursor: pointer;
}
.connected-carousels .carousel-navigation li img {
    display: block;
    border: 5px solid #fff;
}
.connected-carousels .carousel-navigation li.active img {
    border-color: #ccc;
}
.DataText {margin-bottom: 20px !important;}
.formWidth1{min-width:58px;width: 34%;}
.FontBold {
    color: #666666;
    font-size: 13px;
    margin-bottom: 5px; }
.listDataClassBox {
    padding: 15px;
    padding-bottom: 0;
    overflow: hidden; }
.iconCls, .iconBack {
    height: 26px;
    line-height: 26px;
    width: 26px;
    position: absolute;
    top: 11px;
    right: 15px;
    background-color: transparent;
    background-image: url("../images/cls.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    background-clip: border-box;
    display: block; }

.iconBack {
    background-color: transparent;
    background-image: url("../images/iconBack.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 26px 26px;
    -moz-background-size: 26px 26px;
    -o-background-size: 26px 26px;
    -ms-background-size: 26px 26px;
    background-size: 26px 26px;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    -ms-background-clip: border-box;
    background-clip: border-box;
    width: auto;
    padding-left: 35px;
    color: #FFF;
    font-size: 15px; }

.popupBoxDist, .popupBoxDistes {
    padding: 15px;
    margin: 15px; }

.popupBoxDistes {
    padding: 0;
    margin: auto 20px; }

.paddingNone {
    padding: 0 !important; }

.marginNone {
    margin: 0 !important; }

.popupImgBox {
    border: 1px solid #e8e8e8;
    border: 1px solid #e8e8e8; }

.popupLeft {
    width: 240px; }
.popupLeft a {
    display: block;
    text-align: center;
    color: #7b7b7b; }
.onlyWidth {
    width: 130px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #dadde5;
    color: #7d7d7d;
    float: left;
    text-align: center;
    min-width: 250px; }

.GradeTab{
    min-width: 460px;
    border: 1px solid #d5d5d5;
    clear: both;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;}
.GradeTab th {
    border: 1px solid #d5d5d5;
    height: 42px;
    font-size:15px;
    background: #f8f8f8;
    font-weight: bold;
    text-align: center;
    color:gray;
    font-family: '微软雅黑';

}
.GradeTab td {
    color:gray;
    height: 45px;
    font-size:13px; ;
    border: 1px solid #d5d5d5;
    text-align: center;
    overflow: hidden;
    line-height: 45px;
}
/*.................................................................*/
