<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- Jedis链接池配置，注意：Jedis版本建议升级到最新（当前最新版为2.7.3） -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数-->
        <property name="maxTotal" value="100"/>
        <!--最大空闲连接数-->
        <property name="maxIdle" value="20"/>
        <!--最小空闲连接数-->
        <property name="minIdle" value="10"/>
        <!--连接耗尽时是否阻塞, false报异常,ture阻塞直到超时, 默认tru-->
        <property name="blockWhenExhausted" value="true"/>
        <!--获取连接时的最大等待毫秒数(如果设置为阻塞时BlockWhenExhausted),如果超时就抛异常, 小于零:阻塞不确定的时间,  默认-1-->
        <property name="maxWaitMillis" value="3000"/>
        <!--在获取连接的时候检查有效性, 默认false-->
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <!--在空闲时检查有效性, 默认false-->
        <property name="testWhileIdle" value="true"/>
        <property name="minEvictableIdleTimeMillis" value="60000"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="numTestsPerEvictionRun" value="-1"/>
    </bean>

    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="poolConfig" ref="jedisPoolConfig"/>
        <property name="usePool" value="true"></property>
        <property name="hostName" value="192.168.0.109" />
        <property name="port" value="6379" />
        <property name="password" value="" />
        <constructor-arg index="0" ref="jedisPoolConfig" />
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
</beans>